<div class="container">

  <%= form_with scope: :quotes, url: quotes_path, local: true do |form| %>
    <h2 class="form-signin-heading">Please add new quote</h2>
    <br>

    <p>
      <%= form.text_area :text, :style => "asdasd" %>
    </p>
   
      <%= link_to 'Back', root_path, :class => "btn" %>
      <%= form.submit "< Submit >", :class => "btn btn-primary" %>
    
  <% end %>

</div> <!-- /container -->